$sm-width: 700;
$md-width: 1120;
$lg-width: 1312;

$sm-breakpoint: 768;
$md-breakpoint: 1250;
$lg-breakpoint: 1440;

$sm-cutoff: 500;

$white: #fff;
$black: #333;
$primary: #046cec;
$gray: #ebecf3;
$action: #ff7700;

$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

$transition-duration: 0.2s;
$transition-timing-function: ease-out;
