@use '../vars' as *;
@use '../mixins' as *;

.root-wrapper section.section_newsletter {
    padding: 0 var(--page-padding) var(--section-gap);

    .newsletter{
        max-width: 976px;
        margin: 0 auto;
        display: flex;
        gap: 32px;

        @include lg{
            max-width: 992px;
            gap: 49px;
        }

        @include sm{
            flex-direction: column;
        }

        h2{
            margin-bottom: 16px;

            @include md-and-down{
                margin-bottom: 12px;
            }

            @include sm{
                margin-bottom: 8px;
            }
        }

        &__wrapper{
            margin-top: 212px;

            @include sm{
                margin-top: 0;
            }
        }

        &__icons{
            margin-bottom: 10px;
            max-width: 140px;

            @include sm{
                margin-bottom: 6px;
            }
        }

        &__image{
            flex-shrink: 0;
            max-width: 416px;
            position: relative;

            @include md-and-down{
                max-width: 335px;
                gap: 32px;
            }

            @include sm{
                max-width: 328px;
                order: -1;
            }
        }

        &__push{
            position: absolute;
            top: 75px;
            left: 21px;
            right: 21px;
            bottom: 75px;

            @include md-and-down{
                top: 55px;
            }

            &-item{
                margin-bottom: 8px;
                transform: translateY(0);
                opacity: 0;
                visibility: hidden;

                &:nth-child(1){
                    transform: translateY(650px);

                    @include md-and-down{
                        transform: translateY(470px);
                    }

                    transition: opacity 1s ease, visibility 1s ease, transform 1s cubic-bezier(0.15, 1.3, 0.5, 1);
                }

                &:nth-child(2){
                    transform: translateY(570px);

                    @include md-and-down{
                        transform: translateY(404px);
                    }

                    transition: opacity 1s ease, visibility 1s ease, transform 1s cubic-bezier(0.15, 1.3, 0.5, 1);
                }

                &:nth-child(3){
                    transform: translateY(480px);

                    @include md-and-down{
                        transform: translateY(320px);
                    }

                    transition: opacity 1s ease, visibility 1s ease, transform 1s cubic-bezier(0.15, 1.3, 0.5, 1);
                }

                &:nth-child(4){
                    transform: translateY(405px);

                    @include md-and-down{
                        transform: translateY(251px);
                    }
                    transition: opacity 1s ease, visibility 1s ease, transform 1s cubic-bezier(0.15, 1.3, 0.5, 1);
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    &.is-animate{
        .newsletter__push-item{
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}
